html, body {
  margin: 0;
  font-family: Arial;
  color: rgb(31, 29, 29);
}

p, a {
  font-size: 1rem;
}

img {
  padding-left: 30px;
  height: 350px;
  width: 550px;
}
.content ul {
  list-style-type: square;
  list-style-position: inside;
}
.nav ul {
  list-style-type: none;
}

.container {
  min-height: 100%;
  display: flex;
}
