.nav {
  width: 15%;
  min-width: 140px;
  color: rgb(59, 59, 109);
  padding-top: 55px;
  padding-right: 30px;
  text-align: center;
  h4 {
    -webkit-margin-before: 0;
    margin-left: 50px;
  }
  a:hover {
    text-decoration: underline;
  }
  a:link {
    color: purple;
  }
  a:visited {
    color: purple;
  }
}